network:
  version: 2
  renderer: networkd
  ethernets:
    {{ main_parent_interface }}:
      dhcp4: true
    {{ swag_interface }}:
      addresses: 
        - {{ swag_network }}
      routes: 
        - to: {{ swag_base }}.24
          via: {{ swag_gateway }}
    {{ dmz_interface }}:
      dhcp4: yes
      addresses: 
        - {{ dmz_network }}
      routes:
        - to: {{ '.'.join(dmz_gateway.split('.')[0:3]) }}.44
          via: {{ dmz_gateway }}
