---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
logo: "/assets/tools/homer-icons/logo.jpg"

stylesheet:
  - "assets/custom.css"

header: true
footer: false
columns: 4
connectivityCheck: true

theme: default
colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

